@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-color: #F2F2F2;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;

}
.main{
    height: 697px;
    width: 450px;
    border-radius: 20px;
    background-color: #FFFFFF;

}
.image{
    height: 220px;
    width: 450px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}
.container{
    display:flex;
    align-items: center;
    flex-direction:column;
}
.title{
    height: 37px;
    width: 354px;
    margin-top: 45px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 17px;
    color: #1F2E55;

}
h1{
    font-family: Red Hat Display;
    font-size: 28px;
    font-weight: 900;
    line-height: 37px;
    text-align: center;    
}
.subTitle{
    height: 78px;
    width: 354px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 20px;
    padding-left: 19px;
    padding-right: 17px;
    color: #717FA6;

}
p{
    font-family: Red Hat Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
}
.container2{
    height: 98px;
    width: 354px;
    border-radius: 11px;
    margin-left: 48px;
    margin-right: 48px;

    display: flex;
    align-items: stretch;
}
.music-box{
    height: 48px;
    width: 48px;
    margin: 25px 20px 25px 24px;
}
.plan-box{
    height: 21px;
    width: 117.19px;
    margin-top:25px;
    margin-right: 20px;
}

.plan{
    font-family: Red Hat Display;
    font-size: 16px;
    font-weight: 900;
    line-height: 21px;
    text-align: left;
    color: #1F2E55;

}
.money-box{
    height: 21px;
    width: 92px;
    position:relative;
    margin-top: 6px;
    margin-right: 35.15px;
}
.money{
    font-family: Red Hat Display;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
    color: #717FA6;
    ;
    ;
}
.change-box{
    height: 19px;
    width: 52px;
    margin-left: 24px;
    margin-top: 40px;
}
.change{
    font-family: Red Hat Display;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    text-align: left;
    color: #382AE1;
    text-decoration: underline;
}

.payment-box{
    background-color: #382AE1;
    height: 50px;
    width: 354px;
    border-radius: 11px;
    margin-top: 32px;
    margin-left: 48px;
    padding-top: 15px;
    padding-left: 102px;
}
.payment-text-box{
    height: 20px;
    width: 150px;
}
.payment{
    font-family: Red Hat Display;
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    text-align: left;
    color: #FFFFFF;
}
.cancel-box{
    height: 20px;
    width: 96px;
    margin-top: 32px;
    margin-left: 178px;
}
.cancel{
    font-family: Red Hat Display;
    font-size: 15px;
    font-weight: 900;
    line-height: 20px;
    text-align: left;
}
.change-box > p:hover{
   color: #766CF1;
   cursor: pointer;
   text-decoration: none;
}
.payment-box:hover{
    background-color: #766CF1;
    cursor: pointer;
 }
 .cancel-box:hover{
    color: #1F2E55;
    cursor: pointer;
 }